*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #e0f7f7; /* soft light teal */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GAME UI */
.container{
    display: none;
    height: 35rem;;
    width: 30rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px #40E0D0;
}

.score-container{
    height: 5rem;
    width: 30rem;
    background-color: #008080; /* teal */
    font-family: monospace;
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

#score{
    color: white;
    font-size: 1.4rem;
}

.game-container{
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template: repeat(25,1fr)/repeat(25,1fr);
}
/* START SCREEN */
#startScreen{
    text-align: center;
    font-family: monospace;
}

#startScreen h2{
    font-size: 18px;
    margin-top: 15px;
}

#startScreen p{
    font-size: 14px;
    opacity: 0.7;
}


#startScreen img{
    
    width: 400px;
    margin-bottom: 20px;
}

.food{
    background-color: teal;
    border-radius: 50%;
}

.snake{
    background-color: darkgray;
}
